<h1>Kittens#index</h1>
<%= render 'flash' %>
<% if @kittens.empty? %>
  <p>No kittens</p>
<% else %>
  <ul>
    <% @kittens.each do |kitten| %>
      <li>
        Name: <%= kitten.name %> <br>
        Age: <%= kitten.age %>
        <br>
        <%= link_to 'Kitten details', kitten_url(kitten) %>
        <%= link_to 'delete kitten', kitten_url(kitten), data: { turbo_method: :delete } %>
      </li> <br>
    <% end %>
  </ul>
<% end %>

<%= link_to 'create kitten', new_kitten_path %>
