<h1>Kittens#show</h1>
  Name: <%= @kitten.name %> <br><br>
  Age: <%= @kitten.age %> <br><br>
  Cuteness: <%= @kitten.cuteness %> <br><br>
  Softness: <%= @kitten.softness %> <br><br>
<%= link_to 'delete kitten', kitten_url(@kitten), data: { turbo_method: :delete } %>